<div class="page-header">
	<h1>Thanks for contacting me!</h1>
</div>
<p>
Messages will be replied to in order of your importance to me.
</p>

<h3><%= @name %></h3>
<h4><%= @subject %></h4>
<p><%= @message %></p>